<launch>
  <param name="/amcl/initial_pose_x" value="2.00" />
  <param name="/amcl/initial_pose_y" value="11.60" />
  <param name="/amcl/initial_pose_a" value="0.00" />
  <param name="/amcl/min_particles" value="1000" />

  <!-- load the map -->
  <node name="map_server" pkg="map_server" type="map_server"
    args="$(find amcl)/map/living_labs.pgm 0.02" />
<!-- EIDT DANIEL 2 Nov 18: moved to Living labs     args="$(find amcl)/map/inspace_clean.pgm 0.02" /> -->

  <include file="$(find pr2_machine)/$(env ROBOT).machine" />
  <include file="$(find pr2_navigation_global)/amcl_node.xml" />
  <!-- <include file="$(find pr2_navigation_teleop)/teleop.xml" /> -->

  <!-- <include file="$(find pr2_navigation_perception)/lasers_and_filters.xml" /> -->
  <!-- HERE IS THE CHANGE FOR DELIVERY: -->
  <include file="$(find pr2_delivery)/launch/pr2_delivery_nav/lasers_and_filters.xml" />

  <include file="$(find pr2_navigation_perception)/ground_plane.xml" />
  <include file="$(find pr2_navigation_global)/move_base.xml"/>

  <!-- For funsies -->
  <include file="$(find leg_detector)/launch/leg_detector.launch" />

</launch>
